<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>icloudDriverD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>icloudExt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>icloudExtFileProvider.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D515B7E71EB9855C00E0989C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D515B7F61EB9855D00E0989C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D59BFF811EB87F9400AFAA70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D59BFF9A1EB87F9400AFAA70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D59BFFA51EB87F9400AFAA70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
